@font-face {
	font-family: "Intel One Mono";
	src: url("./IntelOneMono-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Intel One Mono";
	src: url("./IntelOneMono-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Intel One Mono";
	src: url("./IntelOneMono-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Intel One Mono";
	src: url("./IntelOneMono-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Intel One Mono";
	src: url("./IntelOneMono-Italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Intel One Mono";
	src: url("./IntelOneMono-LightItalic.woff2") format("woff2");
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Intel One Mono";
	src: url("./IntelOneMono-MediumItalic.woff2") format("woff2");
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Intel One Mono";
	src: url("./IntelOneMono-BoldItalic.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
}
