<!--
 Copyright 2011-2013 Nelson Elhage
 SPDX-License-Identifier: BSD-2-Clause
-->

{{define "layout" -}}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{{.Title}}</title>
		{{linkTag .Nonce "shortcut icon" "/static/favicon.ico" .AssetHashes}}
		{{linkTag .Nonce "stylesheet" "/static/app.css" .AssetHashes}}
		{{if .ScriptData}}
		<script{{.Nonce}}>
			window.scriptData = {{.ScriptData}};
		</script>
		{{end}}
		{{ scriptTag .Nonce (print "/static/" .ScriptName ".js") .AssetHashes}}
		<link{{.Nonce}} rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="Stripe Code Search" />
	</head>
	<body>
		{{if .IncludeHeader}}
		<div id='header'>
			{{if .Config.HeaderHTML}}
				{{.Config.HeaderHTML}}
			{{else}}
				<ul>
					<li><a href="/">search</a></li>
					<li><a href="/about">about</a></li>
					<li><a href="https://sgrankin.dev/cs/livegrep">source</a></li>
					{{if .Config.Feedback.MailTo}}
					<li><a id='feedbacklink' href="mailto:{{.Config.Feedback.MailTo}}">feedback</a></li>
					{{end}}
					<li class='first'>livegrep is a project by <a href="http://blog.nelhage.com/">Nelson Elhage</a></li>
				</ul>
			{{end}}
		</div>
		{{end}}
		{{block "body" .}}{{end}}
		{{if .Config.FooterHTML}}
			{{.Config.FooterHTML}}
		{{end}}
	</body>
</html>
{{end}}
