<!--
 Copyright 2011-2013 Nelson Elhage
 SPDX-License-Identifier: BSD-2-Clause
-->
{{- template "layout" .}}
{{define "body"}}
    <div class="textarea">
        <p>
            cs is a port of the <a href="https://github.com/livegrep/livegrep">livegrep</a> web UI onto a
            backend powered by Russ Cox's <a href="https://github.com/google/codesearch">codesearch</a> code.
        </p>
        <p>
            The livegrep project was an experiment in scaling real-time regex search, inspired in part by the
            death of <a href="http://google.com/codesearch">Google Codesearch</a>. Livegrep is written and
            run by <a href="https://nelhage.com/">Nelson Elhage</a> and is
            <a href="https://github.com/livegrep/livegrep">open source</a>.
        </p>
    </div>
{{end}}
