<!--
 Copyright 2011-2013 Nelson Elhage
 SPDX-License-Identifier: BSD-2-Clause
-->
{{- template "layout" .}} {{define "body"}}
<div id="searcharea">
	<div class="search-inputs">
		<div class="prefixed-input filter-code">
			<label class="prefix-label" for="searchbox">Query:</label>
			<input type="text" id="searchbox" tabindex="1" required="required" />
		</div>
		<div id="regex-error">
			<span id="errortext"></span>
		</div>

		<div class="query-hint">
			Special terms:
			<code>path:</code>
			<code>-path:</code>
			<code>repo:</code>
			<code>-repo:</code>
			<code>max_matches:</code>
		</div>
	</div>

	<div class="search-options">
		<div class="search-option">
			<span class="label">Case:</span>
			<input type="radio" name="fold_case" value="false" id="case-match" tabindex="3" />
			<label for="case-match">match</label>
			<input type="radio" name="fold_case" value="auto" id="case-auto" tabindex="4" />
			<label for="case-auto">auto</label>
			[<span class="tooltip-target"
				>?
				<div class="tooltip">Case-sensitive if the query contains capital letters</div></span
			>]
			<input type="radio" name="fold_case" value="true" id="case-ignore" tabindex="5" />
			<label for="case-ignore">ignore</label>
		</div>

		<div class="search-option">
			<span class="label">Regex:</span>
			<input type="checkbox" name="regex" id="regex" tabindex="6" />
			<label for="regex">on</label>
		</div>

		{{if gt (.Data.Backends | len) 1 }}
		<div class="search-option">
			<span class="label">Search:</span>
			<select id="backend" tabindex="7">
				{{range .Data.Backends}}
				<option value="{{.Name}}">{{.Name}}</option>
				{{end}}
			</select>
		</div>
		{{else}} {{with index .Data.Backends 0}}
		<select id="backend" style="display: none">
			<option value="{{.Name}}">{{.Name}}</option>
		</select>
		{{if ne (.Name) "-"}}
		<div class="search-option">
			<span class="label">Searching:</span>
			{{.Name}}
		</div>
		{{end}} {{end}} {{end}}

		<div class="search-option">
			<span class="label">Repo:</span>
			<select id="repos" multiple></select>
		</div>

		<div class="search-option">
			<span class="label">Context:</span>
			<input type="checkbox" name="context" id="context" tabindex="8" checked="CHECKED" />
			<label for="context">on</label>
		</div>
	</div>
</div>

<div id="resultbox"></div>
{{end}}
