/**
 * Copyright 2011-2013 Nelson Elhage
 * Copyright Sergey Grankin
 * SPDX-License-Identifier: BSD-2-Clause
 */

/* CSS custom properties: these inherit through shadow DOM boundaries. */

:root {
    --color-background: #ffffff;
    --color-background-subtle: #f8f8f8;
    --color-background-hover: #d4d4d4;
    --color-background-modal-overlay: rgba(0, 0, 0, 0.1);
    --color-foreground: #000000;
    --color-foreground-muted: hsl(0, 0%, 25%);
    --color-foreground-subtle: hsl(0, 0%, 40%);
    --color-foreground-emphasis: #000000;
    --color-shadow: rgba(0, 0, 0, 0.25);

    --color-foreground-matchstr: inherit;
    --color-background-matchstr: rgba(255, 234, 170, 0.75);
    --color-outline-highlight-focus: rgba(255, 234, 170, 0.5);
    --color-background-highlight-focus: rgba(255, 234, 170, 0.33);

    --color-foreground-symlink: rgba(60, 60, 60);
    --color-foreground-symlink-target: rgba(115, 115, 115);

    --color-foreground-accent: #337ab7;
    --color-foreground-error: #dd3b38;

    --color-border-default: rgb(230, 230, 230);
    --color-border-subtle: rgb(192, 192, 192);

    --color-file-group-background: rgb(233, 237, 245);
    --color-file-group-accent: #a0d1fa;

    --color-prefixed-input-border: rgba(0, 0, 0, 0.1);
    --color-prefixed-input-border-hover: rgba(0, 126, 229, 0.1);
    --color-prefixed-input-border-focus: rgba(0, 126, 229, 0.25);
    --color-prefixed-input-border-valid: rgba(0, 0, 0, 0.4);
    --color-prefixed-input-border-valid-hover: rgba(0, 126, 229, 0.45);
    --color-prefixed-input-border-valid-focus: rgba(0, 126, 229, 0.75);

    --color-syntax-comment: #999988;
    --color-syntax-string: #e3116c;
    --color-syntax-punctuation: #393a34;
    --color-syntax-entity: #007c7b;
    --color-syntax-keyword: #0075a9;
    --color-syntax-function: #9a050f;
    --color-syntax-tag: #00009f;

    color-scheme: light;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #0d1117;
        --color-background-subtle: #161b22;
        --color-background-hover: hsl(214, 21%, 17%);
        --color-background-modal-overlay: rgba(0, 0, 0, 0.1);
        --color-foreground: #c9d1d9;
        --color-foreground-muted: hsl(215, 8%, 47%);
        --color-foreground-subtle: hsl(212, 9%, 58%);
        --color-foreground-emphasis: #ffffff;
        --color-shadow: rgba(0, 0, 0, 0.25);

        --color-foreground-matchstr: inherit;
        --color-background-matchstr: rgb(198, 140, 40, 0.4);
        --color-outline-highlight-focus: rgba(187, 128, 9, 0.4);
        --color-background-highlight-focus: rgba(187, 128, 9, 0.15);

        --color-foreground-symlink: rgba(60, 60, 60);
        --color-foreground-symlink-target: rgba(115, 115, 115);

        --color-foreground-accent: #417dc1;
        --color-foreground-error: #d73a49;

        --color-border-default: #30363d;
        --color-border-subtle: #6e7681;

        --color-file-group-background: var(--color-background-subtle);
        --color-file-group-accent: #6e6e6e;

        --color-prefixed-input-border: rgb(45, 51, 59);
        --color-prefixed-input-border-hover: hsl(208, 17%, 45%);
        --color-prefixed-input-border-focus: hsl(208, 47%, 44%);
        --color-prefixed-input-border-valid: hsl(208, 0%, 60%);
        --color-prefixed-input-border-valid-hover: rgb(63, 121, 168);
        --color-prefixed-input-border-valid-focus: rgb(72, 167, 244);

        --color-syntax-comment: #8b949e;
        --color-syntax-string: #a5d6ff;
        --color-syntax-punctuation: #79c0ff;
        --color-syntax-entity: #7ee787;
        --color-syntax-keyword: #ff7b72;
        --color-syntax-function: #d2a8ff;
        --color-syntax-tag: #7ee787;

        color-scheme: dark;
    }
}

/* Body/html resets */

html {
    overflow-y: scroll;
}

body {
    background: var(--color-background);
    color: var(--color-foreground);
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: var(--color-foreground-accent);
}

a:hover {
    text-decoration: underline;
    color: var(--color-foreground-accent);
}
